@model System.Collections.Generic.List<string>


<h2>Debug</h2>

This view starts a full crawl - potential errors during startup of the crawls are listed below:

<table class="table table-bordered table-hover">

    <thead>
        <tr>
            <th>Text</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var text in Model)
        {
            <tr><td>@text</td></tr>
        }
    </tbody>

</table>